body {
  margin: 0;
  padding: 0;
  background: #eee;
  overflow: hidden;
}

h1 {
  margin: 20px auto auto 50px;
  text-shadow: 0 0 3px #333;
}

#MapEditor {
  position: absolute;
  top: 50;
  left: 50;
  height: 600px;
  width: 800px;
  margin-left: 50px;
  border: dashed 1px #999;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}
