body {
  margin: 0;
  padding: 0;
}

#GameLayer {
  position: absolute;
  top: 50px;
  left: 250px;
  width: 800px;
  height: 600px;
}

canvas {
  margin: 0;
  border: solid 1px black;
  position: absolute;
  left: 0;
  top: 0;
}
